<!DOCTYPE html>
<html>

<head>
    <title>Checkout</title>
</head>

<body>
    <h1>Checkout</h1>
    <p>Checkout functionality to be implemented.</p>
    <p><a class="btn btn-secondary" href="/Cart/Index">Back to Cart</a></p>
</body>

</html>
